<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
		<aspNetCore processPath="dotnet" arguments=".\MIFinApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" >
			<handlerSettings>
				<handlerSetting name="experimentalEnableShadowCopy" value="true" />
				<handlerSetting name="shadowCopyDirectory" value="../ShadowCopyDirectory/" />
			</handlerSettings>
		</aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: A2FD070C-DAC0-4B86-AAA3-E36B22E338C1-->